#loc{
    
    margin:auto;
    width:50%;
    border: 2px dashed gray;
    text-align:center;
    font-family: 'Courier New', Courier, monospace;

    h1{
        color: #777;
    }

    p{

        color:black;
    }
}