.localizador{
    
    margin:auto;
    width:50%;
    border: 2px dashed gray;
    text-align:center;
    font-family: 'Courier New', Courier, monospace;

    h1{
        color: #777;
    }

    p{

        color:black;
    }

    .localizador__button{
        background-color: white;
        border: none;
        color:blue;
        text-transform: uppercase;
        border: 1px dashed gray;
        padding: 2%;
        margin: 1%;
    }

    .localizador__mensagem{
        color:red !important;
    }

    hr{
        width:50%;
        margin:auto;
        
    }
}